@model IList<trabalhoIHC.Models.Livro>

<div class="panel panel-default">

    <div class="panel-heading text-center">
        <h3>Resultado da Busca</h3>
    </div>

    <div class="panel-body" style="max-width: 100%; overflow: scroll;">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Editora</th>
                    <th>Data de publicação</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var livro in Model)
            {
                    <tr>
                        <td>@livro.Titulo</td>
                        <td>@livro.Autor</td>
                        <td>@livro.Editora</td>
                        <td>@livro.DataPublicacao</td>
                        <td>@livro.Situacao</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>