@model IList<trabalhoIHC.Models.Livro>

<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>Data de publicação</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var livro in Model)
            {
                <tr>
                    <td>@livro.Titulo</td>
                    <td>@livro.Autor</td>
                    <td>@livro.Editora</td>
                    <td>@livro.DataPublicacao</td>
                    <td>@livro.Situacao</td>
                </tr>
            }
        </tbody>
    </table>
</div>