@{
    ViewBag.Title = "Pagina Inicial";
}
<div class="panel panel-body">
    <div class="col-md-4 col-sm-6">
        @Html.Partial("_InformacaoDoUsuario")
    </div>

    <div class="col-md-8 col-sm-6">
        @Html.Partial("_TelaPrincipal")
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $("#resultadoRequisicao").hide();

            $("#btnBuscaSimple").on("click", function () {
                $.get('@Url.Action("QuickSearch","Library")', function(data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });

            $("#btnBuscaDetalhada").on("click", function () {
                $.get('@Url.Action("DetailedSearch","Library")', function (data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });

            $("#btnDeclaracaoDeMatricula").on("click", function () {
                $.get('@Url.Action("RegistrationStatement", "Secretary")', function(data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });


            $("#btnHistoricoEscolar").on("click", function () {
                $.get('@Url.Action("SchoolRecords", "Secretary")', function (data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });

            $("#btnQuadroSolicitacoes").on("click", function () {
                $.get('@Url.Action("RequestsTable", "Secretary")', function(data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });

            $("#btnHistoricoEscolar").on("click", function () {
                $.get('@Url.Action("SchoolRecords", "Secretary")', function (data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });

            $("#btnQuadroDeHorarios").on("click", function () {
                $.get('@Url.Action("RetornarQuadroDeHorarios", "InformacoesAcademicas")', function (data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });

            $("#btnGradeAcademica").on("click", function () {
                $.get('@Url.Action("RetornarGradeAcademica", "InformacoesAcademicas")', function (data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });
        });
    </script>

}
