@{
    ViewBag.Title = "Pagina Inicial";
}
<div class="panel panel-body">
    <div class="visible-lg visible-md">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                @Html.Partial("_InformacaoDoUsuario")
            </div>

            <div class="col-md-8 col-sm-12">
                @Html.Partial("_TelaPrincipal")
            </div>
        </div>
    </div>

    <div class="visible-xs visible-sm">
        <div class="col-sm-12">
            @Html.Partial("_InformacaoDoUsuario")
        </div>
    </div>
    <div class="col-sm-12 hidden-lg hidden-md">
        <div id="resultadoRequisicaoMobile">
            <div class="card__list">
                <div class="card__item card__item--orange">
                    <div id="requisicaoMobile">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal"></div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/functionBiblioteca.js")
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $("#resultadoRequisicao").hide();
            $("#resultadoRequisicaoMobile").hide();
            CarregarCalendario();
            

            $("#requisicao").on("click", "table tr", function () {
                var value = $(this).attr('data-value');
                if(value == 'nota'){
                    $.get('@Url.Action("RetornarModalDisciplina", "InformacoesAcademicas")', function (data) {
                        $("#modal").empty();
                        $("#modal").html(data);
                        $("#modal").modal("show");
                    });
                }
            });

            $("#requisicaoMobile").on("click", "table tr", function () {
                var value = $(this).attr('data-value');
                if(value == 'nota'){
                    $.get('@Url.Action("RetornarModalDisciplina", "InformacoesAcademicas")', function (data) {
                        $("#modal").empty();
                        $("#modal").html(data);
                        $("#modal").modal("show");
                    });
                }
            });
        });


    </script>

}
