@{
    ViewBag.Title = "Pagina Inicial";
    <style>
        .progress {
            background: none repeat scroll 0 0 #f3f3f3;

            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -ms-box-shadow: none;
            -o-box-shadow: none;
            box-shadow: none;
	
            height: 6px;
            margin: 7px 0 0;
            overflow: visible;
        }
        .progress > .progress-bar {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -ms-box-shadow: none;
            -o-box-shadow: none;
            box-shadow: none;
	
            position: relative;
        }
        .progress > .progress-bar > span {
            background: none repeat scroll 0 0 #8d8d8d;
            font-family: Roboto;
            font-size: 10px;
            height: 18px;
            line-height: 18px;
            margin-top: -9px;
            position: absolute;
            right: 0;
            top: 50%;
            width: 31px;
        }
    </style>
}
<div class="panel panel-body">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            @Html.Partial("_InformacaoDoUsuario")
        </div>

        <div class="col-md-8 col-sm-6">
            @Html.Partial("_TelaPrincipal")
        </div>
    </div>

    <div class="row">
        <div class="card__list">
            <div class="card__item card__item--green">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal"></div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $("#resultadoRequisicao").hide();
            CarregarCalendario();

            $("#btnLibrary").on("click", function () {
                $.get('@Url.Action("BookSearch","Library")', function (data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                    $("#txtTitulo").focus();
                });
            });

            $("#requisicao").on("click", "button", function () {
                var value = $(this).attr('data-value');
                if (value == 'livros'){
                    $.get('@Url.Action("BookSearchResult", "Library")', function (data) {
                        $("#requisicao").empty();
                        $("#requisicao").html(data);
                        $("#resultadoRequisicao").show();
                    });
                }
            });

            $("#btnDeclaracaoDeMatricula").on("click", function () {
                $.get('@Url.Action("RegistrationStatement", "Secretary")', function(data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                    ConsultaFalhou();
                });
            });

            $("#btnHistoricoEscolar").on("click", function () {
                $.get('@Url.Action("SchoolRecords", "Secretary")', function (data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });

            $("#btnQuadroSolicitacoes").on("click", function () {
                $.get('@Url.Action("RequestsTable", "Secretary")', function(data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });

            $("#btnHistoricoEscolar").on("click", function () {
                $.get('@Url.Action("SchoolRecords", "Secretary")', function (data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });

            $("#btnQuadroDeHorarios").on("click", function () {
                $.get('@Url.Action("RetornarQuadroDeHorarios", "InformacoesAcademicas")', function (data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });

            $("#btnGradeAcademica").on("click", function () {
                $.get('@Url.Action("RetornarGradeAcademica", "InformacoesAcademicas")', function (data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });

            $("#btnNotasEFaltas").on("click", function () {
                $.get('@Url.Action("RetornarQuadroDeNotasEFaltas", "InformacoesAcademicas")', function (data) {
                    $("#requisicao").empty();
                    $("#requisicao").html(data);
                    $("#resultadoRequisicao").show();
                });
            });

            $("#requisicao").on("click", "table tr", function () {
                var value = $(this).attr('data-value');
                if(value == 'nota'){
                    $.get('@Url.Action("RetornarModalDisciplina", "InformacoesAcademicas")', function (data) {
                        $("#modal").empty();
                        $("#modal").html(data);
                        $("#modal").modal("show");
                    });
                }
            });
        });

        function ConsultaFalhou() {
            toastr.error("Vesh", "Verifique os dados!");
        };
    </script>

}
